.content{ 
  background: #F7F7F7;
}
.ipt-value{
  .list{
    padding: 0 15px;
    height: 45px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    .list-r{
      display: flex;
      align-items: center;
    }
    .ipt{
      text-align: right;
    }
    .right-icon{
      width: 7px;
      height: 13px;
    }
    .address-icon{
      width: 17px;
      height: 20px;
    }
    .open-icon{
      width: 24px;
      height: 15px;
      transform: rotate(180deg);
      &.active{
      transform: rotate(0deg);
      }
    }
  }
  .list:nth-child(5), .list:nth-child(6){
    border-bottom: 0;
  }
}