.content{
  background: #fff;
  min-height: 100vh;
}
.title-tips{
  width: 320px;
  margin: 0 auto;
  padding-top: 40px;
  .logo{
    width: 51px;
    height: 36px;
  }
  .details{
    width: 260px;
  }
  .ipt-val{
    margin-top: 26px;
    .ipt-val-list{
      width: 320px;
      height: 45px;
      background: #F7F9FA;
      border-radius: 23px;
      display: flex;
      align-items: center;
      padding-left: 20px;
    }
  }
  .ipt-submit{
    width: 320px;
    height: 45px;
    background: #037BD1;
    opacity: 0.5;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    &.active{
      opacity: 1;
    }
  }
}