.content{
  background-color: #F7F7F7 ;
}
.address-list{
  .list{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .info{
      width: 315px;
      .info-address{
        line-height: 18px;
      }
    }
    .normal{
      width: 40px;
      height: 18px;
      background: #037BD1;
      display: inline-block;
      text-align: center;
      line-height: 18px;
    }
    .edit-btn{
      width: 14px;
      height: 14px;
    }
    .select-btn{
      width: 21px;
      height: 21px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .list:last-child{
    border-bottom: 0;
  }
}