.page {
  padding: 30px 35px;
  height: 100vh;
  background-color: #fff;
}

.hd {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  color: #333333;
  line-height: 33px;
}
.G-login-input{
    margin-bottom: 30px;
}   
.G-common-btn{
    margin-top: 70px;
}
