.content{
  background-color: #f7f7f7;
}
.info-main{
  background-color: #fff;
  .list{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .info{
      width: 315px;
      .info-address{
        line-height: 18px;
      }
    }
    .normal{
      width: 40px;
      height: 18px;
      background: #037BD1;
      display: inline-block;
      text-align: center;
      line-height: 18px;
    }
    .edit-btn{
      width: 14px;
      height: 14px;
    }
    .right-btn{
      width: 7px;
      height: 13px;
    }
  }
  .time{
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
  }
}
.goods-list{
  .goods{
    padding-bottom: 5px;
    .tips{
      padding: 15px 0 0 15px;
    }
    .list{
        width: 100%;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        image{
            width: 75px;
            height: 75px;
        }
        .title,.unit{
            width: 200px;
        }
        .list-l{
            display: flex;
            align-items: center;
        }
    }
    .list:last-child{
      border-bottom: 0;
    }
  }
}
.remarks{
  height: 45px;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  .remarks-ipt{
    width: 180px;
  }
}
.btn{
  width: 100%;
  height: 50px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  .submit-btn{
    width: 90px;
    height: 35px;
    background: #037BD1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}