.content{
    background: #F7F7F7;
}
.tab-list{
    width: 100%;
    height: 60px;
    background: #F7F7F7;
    padding: 10px 15px 0 10px;
    display: flex;
    justify-content: space-between;
    .icon{
        width: 15px;
        height: 15px;
        background: #F7F7F7;
        border: 1px solid #FF7A0F;
        border-radius: 50%; 
        display: block;
        color: #FF7A0F;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active{
            border: 0;
        }
    }
    .name{
        float: right;
    }
}
.goods-list{
    .main{
        .time{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 35px;
            padding: 0 15px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }
        .goods{
            .list{
                width: 100%;
                height: 95px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 15px;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                image{
                    width: 75px;
                    height: 75px;
                }
                .title,.unit{
                    width: 200px;
                }
                .list-l{
                    display: flex;
                    align-items: center;
                }
            }
        }
        .btn{
            height: 60px;
            display: flex;
            justify-content: flex-end;
            padding-top: 10px;
            .cancel{
                width: 89px;
                height: 33px;
                background: #FFFFFF;
                border: 1px solid #037BD1;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                margin-right: 15px;
            }
            .show{
                width: 89px;
                height: 33px;
                background: #037BD1;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
                border-radius: 20px;
                
            }
        }
    }
}